Net "rst"    LOC = "K17" | IOSTANDARD = LVCMOS33 | PULLDOWN;
Net "clk"    LOC = "C9"  | IOSTANDARD = LVCMOS33 | PERIOD = 20 ns;
Net "pulsa"  LOC = "V4"  | IOSTANDARD = LVCMOS33 | PULLDOWN;

Net do<0> LOC="F9"  | IOSTANDARD = LVCMOS33;
Net do<1> LOC="E9"  | IOSTANDARD = LVCMOS33;
Net do<2> LOC="D11" | IOSTANDARD = LVCMOS33;
Net do<3> LOC="C11" | IOSTANDARD = LVCMOS33;
Net do<4> LOC="F11" | IOSTANDARD = LVCMOS33;
Net do<5> LOC="E11" | IOSTANDARD = LVCMOS33;
Net do<6> LOC="E12" | IOSTANDARD = LVCMOS33;
Net do<7> LOC="F12" | IOSTANDARD = LVCMOS33;

