net pin_reset       loc = k17     | iostandard = lvcmos33 | pulldown;
net pin_clock_50    loc = c9      | iostandard = lvcmos33 | period = 20 ns;
net pin_leds<0>     loc = f9      | iostandard = lvcmos33;
net pin_leds<1>     loc = e9      | iostandard = lvcmos33;
net pin_leds<2>     loc = d11     | iostandard = lvcmos33;
net pin_leds<3>     loc = c11     | iostandard = lvcmos33;
net pin_leds<4>     loc = f11     | iostandard = lvcmos33;
net pin_leds<5>     loc = e11     | iostandard = lvcmos33;
net pin_leds<6>     loc = e12     | iostandard = lvcmos33;
net pin_leds<7>     loc = f12     | iostandard = lvcmos33;
net m1trigger       loc = d18     | iostandard = lvcmos33 | pulldown;
net data<0>         loc = l13     | iostandard = lvcmos33;
net data<1>         loc = l14     | iostandard = lvcmos33;
net data<2>         loc = h18     | iostandard = lvcmos33;
net data<3>         loc = n17     | iostandard = lvcmos33;
net m2trigger       loc = h13     | iostandard = lvcmos33 | pulldown;
net s1trigger       loc = v4      | iostandard = lvcmos33 | pulldown;